<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!--<a class="navbar-brand" href="#" th:href="@{/}">Home</a>-->
                    <ul class="nav navbar-nav">
                        <li><a href="http://localhost:8080/admin/adminCreatePostList">Create Post</a></li>
                        <li><a href="http://localhost:8080/admin/adminWrittenNotificationList">Call For written Exam</a></li>
                        <li><a href="http://localhost:8080/admin/adminCallForVivaList">Call For Viva</a></li>
                        <li><a href="http://localhost:8080/admin/adminSendAppointmentList">Send Appoinment</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>